.form-container {
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.form {
  width: 50%;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.username-input-container,
.password-input-container {
  margin-bottom: 24px;
}

.form input[type="text"] {
  width: 100%;
  height: 48px;
  padding: 16px 20px 0;
  border: 1px solid #000;
  border-radius: 4px;
  outline: none;
}

.placeholder {
  position: absolute;
  left: 0;
  transform: translate(-15%, 40%);
  transition: 0.2s ease-out;
}

.shifted {
  font-size: 11px;
  transform: translate(-20%, 0);
}

.error {
  color: #e87c03;
}

.form input[type="text"].border-error {
  border-bottom: 2px #e87c03 solid;
}
